#weather-main-left {
  padding: 20px;
  height: 203px;
  border-radius: 10px;
  background: rgba(190, 102, 102, 0.5);
  // background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1));
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    display: flex;
}

.date {
  color: #ea6e4b;
  font-size: 17px;
}

.city {
  color: #48484a;
  font-size: 45px;
  font-weight: 500;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #48484a;
}

.description {
  color: #48484a;
  font-size: 17px;
  font-weight: 500;
}

#weather-main-right {
  padding: 20px;
  margin-left: 30px;
  border-radius: 10px;
  background: rgb(218, 211, 211);
  // background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1));
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  h3 {
    margin: 0;
    color: #ea6e4b;
  }
}

ul {
  padding: 0;
}

li {
    list-style-type: none;
    border-radius: 30px;
    :hover {
        background-color: rgba(0, 0, 0, 0.05);
        
      }
    div {
      display: flex;
      align-items: center;
      color: #48484a;
      cursor: pointer;
      :hover {
        background-color: transparent;
      }
      
    }
    img {
        height: 60px;
        margin: 0px 0px 0px 0px;
      }
  }
  
  

.forecast-date {
  width: 100px;
}

.bold{
    font-weight: 500;
}

.forecast-description {
  margin-left: 10px;
}

.component-row {
  //centers div
  margin: 0 auto;
  width: fit-content;
}

.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
  background-color: rgba(0, 0, 0, 0.05);
}

.dnone{
    display: none !important;
}

.day-details{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 8px;
}

.day-details-content{
    display: flex !important;
    flex-direction: column;
    align-items: flex-start !important;
    img{
        height: 18px;
        margin-right: 5px;
        margin-top: 8px;
    }
    span{
        margin-top: 5px;
    }
   
}

.day-details-description{
    color: #48484a;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 8px;
}

.humidity-text{
    
    margin-left: 30px;
}

@media(max-width: 680px){
    .main{
        display: flex;
        flex-direction: column;

 }
 #weather-main-right{
    margin-left: 0;
    margin-top: 20px;
 }

 .weather-container {
    display: flex;
    height: 100vh !important;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
  }

 }

 @media(max-width: 400px){
    .city{
        font-size: 30px;
    }
    .forecast-description{
        display: none;
    }
 }
